kestra/flows/christmas/handlers/assessment-handler.yml
# Christmas Campaign - Assessment Handler Flow
# 5-Day Nurture Sequence - ONLY Emails #2-5 sent by Kestra
#
# CRITICAL: Website sends Email #1 immediately after assessment completion.
# This handler receives assessment data WITH email_1_sent_at timestamp and schedules ONLY Emails #2-5.
#
# Steps:
#   1. Parse webhook with email_1_sent_at timestamp
#   2. Validate Email #1 was sent by website
#   3. Classify segment (CRITICAL/URGENT/OPTIMIZE) using routing.py
#   4. Search for contact in Notion
#   5. Create email sequence record
#   6. Update Notion tracker - mark Email #1 as 'sent_by_website'
#   7. Schedule Emails #2-5 using schedule-email-sequence subflow
#
# CRITICAL: Each of Emails #2-5 MUST update Notion Sequence Tracker after successful send.
#
# Author: Kestra Migration Team
# Created: 2025-11-30

id: assessment-handler
namespace: christmas
description: Handle Christmas assessment - schedule Emails #2-5 only (Email #1 sent by website)

triggers:
  - id: webhook_trigger
    type: io.kestra.plugin.core.trigger.Webhook
    key: christmas-assessment-webhook

inputs:
  - id: email
    type: STRING
    description: Contact email address
    required: true
  - id: first_name
    type: STRING
    description: Contact first name
    defaults: "there"
  - id: business_name
    type: STRING
    description: Business name
    defaults: "your business"
  - id: red_systems
    type: INT
    description: Number of red (broken) systems
    defaults: 0
  - id: orange_systems
    type: INT
    description: Number of orange (struggling) systems
    defaults: 0
  - id: yellow_systems
    type: INT
    description: Number of yellow (functional) systems
    defaults: 0
  - id: green_systems
    type: INT
    description: Number of green (optimized) systems
    defaults: 0
  - id: assessment_score
    type: INT
    description: Overall BusOS score (0-100)
    defaults: 0
  - id: email_1_sent_at
    type: STRING
    description: ISO 8601 timestamp when Email #1 was sent by website
    required: false
  - id: email_1_status
    type: STRING
    description: Email #1 send status from website
    defaults: "sent"

tasks:
  # Step 1: Validate email_1_sent_at timestamp
  - id: validate_email_1_timestamp
    type: io.kestra.plugin.scripts.python.Script
    description: Validate email_1_sent_at or fall back to current time
    warningOnStdErr: false
    script: |
      from datetime import datetime
      import json

      email_1_time_str = "{{ inputs.email_1_sent_at }}"

      # Parse timestamp or fall back to current time
      try:
          if email_1_time_str and email_1_time_str != "":
              email_1_time = datetime.fromisoformat(email_1_time_str.replace('Z', '+00:00'))
              print(f"✅ Using email_1_sent_at: {email_1_time.isoformat()}")
          else:
              email_1_time = datetime.utcnow()
              print(f"⚠️  WARNING: email_1_sent_at missing, using current time: {email_1_time.isoformat()}")
      except Exception as e:
          email_1_time = datetime.utcnow()
          print(f"⚠️  WARNING: Failed to parse email_1_sent_at, using current time: {e}")

      # Output as JSON
      output = {"email_1_sent_at": email_1_time.isoformat()}
      print(json.dumps(output))

  # Step 2: Classify segment using routing logic
  - id: classify_segment
    type: io.kestra.plugin.scripts.python.Script
    description: Classify segment based on red/orange systems
    warningOnStdErr: false
    script: |
      import sys
      sys.path.append('/app/flows/christmas/lib')

      from routing import classify_segment

      red_systems = int({{ inputs.red_systems }})
      orange_systems = int({{ inputs.orange_systems }})

      segment = classify_segment(red_systems, orange_systems)

      print(f"📊 Segment Classification:")
      print(f"  Red Systems: {red_systems}")
      print(f"  Orange Systems: {orange_systems}")
      print(f"  Segment: {segment}")

      print(segment)

  # Step 3: Search for contact in Notion
  - id: search_contact
    type: io.kestra.plugin.core.http.Request
    uri: "https://api.notion.com/v1/databases/{{ secret('SECRET_NOTION_CONTACTS_DB_ID') }}/query"
    method: POST
    headers:
      Authorization: "Bearer {{ secret('SECRET_NOTION_TOKEN') }}"
      Notion-Version: "2022-06-28"
      Content-Type: "application/json"
    contentType: application/json
    body: |
      {
        "filter": {
          "property": "Email",
          "email": {
            "equals": "{{ inputs.email }}"
          }
        }
      }

  # Step 4: Create email sequence record in Notion
  - id: create_sequence
    type: io.kestra.plugin.core.http.Request
    uri: "https://api.notion.com/v1/pages"
    method: POST
    headers:
      Authorization: "Bearer {{ secret('SECRET_NOTION_TOKEN') }}"
      Notion-Version: "2022-06-28"
      Content-Type: "application/json"
    contentType: application/json
    body: |
      {
        "parent": {
          "database_id": "{{ secret('SECRET_NOTION_EMAIL_SEQUENCE_DB_ID') }}"
        },
        "properties": {
          "Email": {
            "email": "{{ inputs.email }}"
          },
          "First Name": {
            "rich_text": [
              {
                "text": {
                  "content": "{{ inputs.first_name }}"
                }
              }
            ]
          },
          "Business Name": {
            "rich_text": [
              {
                "text": {
                  "content": "{{ inputs.business_name }}"
                }
              }
            ]
          },
          "Campaign": {
            "select": {
              "name": "Christmas 2025"
            }
          },
          "Sequence Type": {
            "select": {
              "name": "5day"
            }
          },
          "Segment": {
            "select": {
              "name": "{{ outputs.classify_segment.stdout | trim }}"
            }
          },
          "Assessment Score": {
            "number": {{ inputs.assessment_score }}
          },
          "Red Systems": {
            "number": {{ inputs.red_systems }}
          },
          "Orange Systems": {
            "number": {{ inputs.orange_systems }}
          },
          "Started At": {
            "date": {
              "start": "{{ now() }}"
            }
          }
        }
      }

  # Step 5: Update Notion tracker - mark Email #1 as 'sent_by_website'
  - id: mark_email_1_sent_by_website
    type: io.kestra.plugin.core.http.Request
    uri: "https://api.notion.com/v1/pages/{{ outputs.create_sequence.body.id }}"
    method: PATCH
    headers:
      Authorization: "Bearer {{ secret('SECRET_NOTION_TOKEN') }}"
      Notion-Version: "2022-06-28"
      Content-Type: "application/json"
    contentType: application/json
    body: |
      {
        "properties": {
          "Email 1 Sent": {
            "date": {
              "start": "{{ (outputs.validate_email_1_timestamp.stdout | trim | fromJson).email_1_sent_at }}"
            }
          },
          "Email 1 Status": {
            "select": {
              "name": "{{ inputs.email_1_status }}"
            }
          },
          "Email 1 Sent By": {
            "select": {
              "name": "website"
            }
          },
          "Last Email Sent": {
            "number": 1
          },
          "Last Email Sent At": {
            "date": {
              "start": "{{ (outputs.validate_email_1_timestamp.stdout | trim | fromJson).email_1_sent_at }}"
            }
          }
        }
      }
    allowFailed: true

  # Step 6: Schedule Emails #2-5 using schedule-email-sequence subflow
  - id: schedule_emails_2_to_5
    type: io.kestra.plugin.core.flow.Subflow
    description: Schedule Emails #2-5 (NOT Email #1 - website responsibility)
    flowId: schedule-email-sequence
    namespace: christmas
    inputs:
      email: "{{ inputs.email }}"
      first_name: "{{ inputs.first_name }}"
      business_name: "{{ inputs.business_name }}"
      segment: "{{ outputs.classify_segment.stdout | trim }}"
      email_1_sent_at: "{{ (outputs.validate_email_1_timestamp.stdout | trim | fromJson).email_1_sent_at }}"
      sequence_type: "5day"
    wait: false

  # Step 7: Log completion
  - id: log_completion
    type: io.kestra.plugin.core.log.Log
    message: |
      ✅ Assessment handler completed for {{ inputs.email }}
      - Segment: {{ outputs.classify_segment.stdout | trim }}
      - Email #1: Sent by website at {{ (outputs.validate_email_1_timestamp.stdout | trim | fromJson).email_1_sent_at }}
      - Emails #2-5: Scheduled via Kestra
      - Sequence Type: 5day
      - Assessment Score: {{ inputs.assessment_score }}
    level: INFO

errors:
  - id: log_error
    type: io.kestra.plugin.core.log.Log
    message: "❌ Error processing assessment for {{ inputs.email }}: {{ error.message }}"
    level: ERROR
